/* FOOTER COMPONENT */
.text-reset:hover{
    color: blueviolet !important;
    text-decoration: underline;
}

.select-new {
    border: none;
    outline: none;
    padding: 13px;
    font-size: 20px;
    transition: .3s;
}

.img-fit {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.home-section {
    overflow: hidden;
}

#home-link {
    background-color: rgba(0, 0, 0, .6);
    color: rgba(255, 255, 255, .8) !important;
    transition: .3s;
}

#home-link:hover {
    color: white !important;
    transition: .3s;
}







@media only screen and (max-width:1100px) {
    .search-title {
        font-size: 18px;
        transition: .3s;
    }

}

