.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
}

#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
    transition: .3s;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
    transition: .3s;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

.opt-btn {
    border: 'none' !important;
}

#state-select:focus+span {
    top: -8px;
    left: 10px;
    font-size: 13px;
    background-color: #E7EAEF;
    font-weight: 400;
    color: #2f72e6;
    padding: 0px 4px;
    transition: .3s;
}

#state-select:not(:focus)+span {
    color: rgba(0, 0, 0, .6);
    top: 4px;
    left: 11px;
    transform: .3s;
    position: absolute;
}

.img-logo {
    position: absolute;
    width: 200px;
    top: -30px;
    left: 30px;
}

#radius-shape-3 {
    position: fixed;
    border-radius: 50%;
    bottom: -140px;
    left: -80px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
    transition: .3s;
}

.heading,
.heading-body,
.form-heading,
.img-logo,
.bi-eye,
.bi-eye-slash {
    transition: .3s;
}

.custom-input input[type="text"],
.custom-input input[type="text"]:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}


.bi-eye:hover,
.bi-eye-slash:hover {
    filter: drop-shadow(0 0 1rem black);
    transition: .5s;
}

.heading-body{
    z-index: 999;
}






@media only screen and (max-width:1000px) {
    .heading {
        font-size: 40px !important;
        transition: .3s;
    }

    .heading-body {
        font-size: 15px !important;
        transition: .3s;
    }

    .form-heading {
        font-size: 35px !important;
        transition: .3s;
    }

    .img-logo {
        width: 170px;
        top: -25px;
        transition: .3s;
    }
}

@media only screen and (max-width:820px) {
    .heading {
        font-size: 35px !important;
        transition: .3s;
    }

    .form-heading {
        font-size: 31px !important;
        transition: .3s;
    }

    #radius-shape-1 {
        height: 180px;
        width: 180px;
        top: -45px;
        left: -80px;
    }

    #radius-shape-2 {
        bottom: -60px;
        right: -110px;
        width: 250px;
        height: 250px;
    }

    #radius-shape-3 {
        bottom: -140px;
        left: -80px;
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width:767px) {
    .heading {
        font-size: 30px !important;
    }

    .heading-body {
        font-size: 14px !important;
        margin: 0px !important;
        z-index: 999;
    }

    .form-heading {
        font-size: 36px !important;
        transition: .3s;
    }
}

@media only screen and (max-width:650px) {
    .heading {
        padding-top: 40px !important;
        font-size: 25px !important;
    }

    .heading-body {
        font-size: 14px !important;
        margin: 0px !important;
        z-index: 999;
    }

    .form-heading {
        font-size: 36px !important;
        transition: .3s;
    }

    .img-logo {
        width: 150px;
        top: -25px;
        transition: .3s;
    }
}

